{% extends "::base.html.twig" %}
{% block body %}
    {% block css %}
                <link rel="stylesheet" href="{{asset('css/test/test.css')}}">
                <link rel="stylesheet" href="{{asset('css/test/mesMessage.css.css')}}">
               
                {% endblock %}


<div class="container">
    <div class="row profile">
		<div class="col-md-3">
			<div class="profile-sidebar">
				<!-- SIDEBAR USERPIC -->
				<div class="profile-userpic">
					<img src="{{asset('css/test/avatar.png')}}" class="img-responsive" alt="">
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
					{{ app.user.username }}
					</div>
					<div class="profile-usertitle-job">
						Developer
					</div>
				</div>
				<!-- END SIDEBAR USER TITLE -->
				<!-- SIDEBAR BUTTONS -->
				<div class="profile-userbuttons">
					<button type="button" class="btn btn-success btn-sm">Follow</button>
					<button type="button" class="btn btn-danger btn-sm">Message</button>
				</div>
				<!-- END SIDEBAR BUTTONS -->
				<!-- SIDEBAR MENU -->
				<div class="profile-usermenu">
					<ul class="nav">
						<li class="active">
							<a href="#">
							<i class="glyphicon glyphicon-home"></i>
							Overview </a>
						</li>
						<li>
							<a href="{{path('fos_user_profile_edit')}}">
							<i class="glyphicon glyphicon-user"></i>
							parametre du compte  </a>
						</li>
						<li>
							<a href="{{path('mesprojet')}}">
							<i class="glyphicon glyphicon-ok"  ></i>
							mes projett </a>
						</li>
                                                <li>
							<a href="">
							<i class="glyphicon glyphicon glyphicon-envelope"  ></i>
							mes message </a>
						</li>
                                                <li>
							<a href="">
							<i class="glyphicon glyphicon glyphicon-envelope"  ></i>
							composer message </a>
						</li>
						<li>
							<a href="#">
							<i class="glyphicon glyphicon-flag"></i>
							Help </a>
						</li>
					</ul>
				</div>
				<!-- END MENU -->
			</div>
		</div>
                                        <div class="col-md-9">
                                            
                                            
                                            
        
        <div class="panel panel-default widget">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-comment"></span>
                <h3 class="panel-title">
                    Mes Messages</h3>
            
                    
            </div>
                {% for entities in entities %}
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2 col-md-1">
                                <img src="http://placehold.it/80" class="img-circle img-responsive" alt="" /></div>
                            <div class="col-xs-10 col-md-11">
                                <div>
                                    
                                    <div class="mic-info">
                                        By: <a href="#">{{entities.nomproprietaire}}</a> {{entities.sendAt|date('m/d/y')}}
                                    </div>
                                    
                                    <p>
                                        {{entities.contenu}}</p>
                                </div>
                                <div class="comment-text">
                                
 

                                  
                                
                                </div>
                               
                        
      <a href="#" class="btn btn-sm btn-hover btn-danger"><span class="glyphicon glyphicon-remove" style="padding-right:3px;"></span>Delete</a>
      
                              
                            </div>
                        </div>
                    </li>
                
                    
                </ul>
                
            </div>
  {% endfor %}
                                
        </div>
    </div>
</div>
                                            
                                            </div>
	</div>
</div>

<br>
<br>
{% endblock %}
