{% extends '::base.html.twig' %}

{% block body -%}
    
    
                                                                                                            
                                                                                                  
    
    
     <div class="row">
          <br><br><br><br>
     </div>
    
    
    
    <h1 class="panel-title">Liste des Reclamations</h1>
    <table id="shTable" class="table table-striped table-bordered">
        <thead class="">
            <tr>
                <th>Titre</th>
                <th>Continue</th>
                <th>Notification</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('reclamation_show', { 'id': entity.idReclamation }) }}">{{ entity.titre }}</a></td>
                    <td>{{ entity.contenu }}</td>
                    <td>{{ entity.notification }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('reclamation_show', { 'id': entity.idReclamation }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('reclamation_edit', { 'id': entity.idReclamation }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <ul>
        <li>
            <a href="{{ path('reclamation_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
{% endblock %}
