{% extends '::base.html.twig' %}

{% block body -%}

    <h1 class="panel-title">Reclamation</h1>
    <table id="shTable" class="table table-striped table-bordered">
        <thead class="">
            <tr>
                <th>Titre</th>
                <th>Continue</th>
                <th>Notification</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>{{ entity.titre }}</td>
                <td>{{ entity.contenu }}</td>
                <td>{{ entity.notification }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('reclamation') }}">
                                Back to the list
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('reclamation_edit', { 'id': entity.idReclamation }) }}">
                                Edit
                            </a>
                        </li>
                        <li>{{ form(delete_form) }}</li>
                    </ul>
                </td>
            </tr>

        </tbody>
    </table>




{% endblock %}
