{% extends "::admin/layoutAdmin.html.twig" %}
{% block body %}
    
    

    
    
     <!-- Tasks table -->
    <div class="block">
        <h6 class="heading-hr"><i class="icon-grid"></i> Recent tasks</h6>
        <div class="datatable-tasks">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th class="task-priority">Idprojet</th>
                        <th class="task-date-added">Nomprojet</th>
                        <th class="task-progress">Resume</th>
                        <th class="task-deadline">Image</th>
                        <th class="task-tools text-center">Budjet</th>
                    </tr>
                </thead>
                <tbody>
                                {% for entity in entities %}

                    <tr>
                        <td class="task-desc">
                            <a href=""> {{entity.id}}</span>
                        </td>
                        <td>{{entity.NOMPROJET}}</td>
                        <td>{{entity.RESUME}}</td>
                        <td>
                            {{entity.BUDJET}}
                            </div>
                        </td>
                        <td><i class="icon-clock"></i> <strong class="text-danger">{{entity.FICHIER}}</strong> hours left</td>
                        <td class="text-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-icon btn-success dropdown-toggle" data-toggle="dropdown"><i class="icon-cog4"></i></button>
                                <ul class="dropdown-menu icons-right dropdown-menu-right">
                                    <li><a href="{{ path('projet_show', { 'id': entity.idProjet }) }}"><i class="icon-quill2"></i> voir projet </a></li>
                                    <li><a href="{{ path('projet_edit', { 'id': entity.idProjet }) }}"><i class="icon-share2"></i> editer projet</a></li>
                                    <li><a href="#"><i class="icon-checkmark3"></i> Complete</a></li>
                                    <li><a href="#"><i class="icon-stack"></i> Archive</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>  
                                </tbody>
                                {% endfor %}
                                    
            </table>
        </div>
    </div>
    <!-- /tasks table -->

     <ul>
        <li>
            <a href="{{ path('projet_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
                
                
            {% endblock %}